/static/disabled files/Recovery.txt
/static/disabled files/Space Ambience.wav
/sys/addresses/index.mjs
/static/.vscode/launch.json
/static/github//dependabot.yml
/static/.vscode/.ipynb_checkpoints/Good news-checkpoint.txt
/static/.vscode/.ipynb_checkpoints/index-checkpoint.html
/static/.vscode/.ipynb_checkpoints/index-checkpoint.md
/static/.vscode/.ipynb_checkpoints/package-checkpoint.json
/static/.vscode/.ipynb_checkpoints/package-lock-checkpoint.json
/workspaces/BarnyWarp/test_package.json
/static/imp.files/whole.css
/static/github/.ipynb_checkpoints/Button-checkpoint.html
/static/github/.ipynb_checkpoints/Login-checkpoint.html
/static/github/.yarnflows/yarn.js
/static/github/JSFiles/surgery.js
/static/src/routes/devposts/+page.svelte
/static/assets/media/frontpage.png
/.codesandbox/tasks.json
/tools.html

# Ignore uploaded files and node modules
/uploads/
node_modules/
npm-debug.log
yarn-error.log